* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color:#DCDCDC;
    font-family: 'Amatic SC', cursive;
    }
.nav {
    display: flex;
    justify-content: left;
    padding-top: 5px;
}
   
.home {
    padding-right: 10px;
    font-weight: 700;
    color: #5F9EA0;
    font-size: 15px;
}

.contact {
       padding-left: 10px;
       font-weight: 700;
       color: #5F9EA0;
       font-size: 15px;
}

.about {
    font-weight: 700;
    color:  #5F9EA0;
    font-size: 15px;
}
.location{
    padding-left: 10px;
       font-weight: 700;
       color: #5F9EA0;
       font-size: 15px;
}
.registro{
    padding-left: 10px;
    font-weight: 700;
    color: #5F9EA0;
    font-size: 15px;
}

footer {
    display: flex;
    justify-content:left;
    padding-top: 15px;
}

.socialIcon {
    width: 50px;
    height: auto;
    padding: 0 5px 5px 5px;
}

.copyRight {
    padding-left: 5px;
    padding-top: 10px;
    color:  #456364;
}

a {
    text-decoration: none;
}

